.gantt-chart {
    max-width: 1000px;
    margin: auto;
    /*border: 1px solid #ddd;*/
    padding: 20px;
    position: relative;
}

.timeline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.tasks {
    position: relative;
    padding-left: 150px; /* Space for labels */
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.label {
    width: 150px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    position: absolute;
    left: -160px; /* Move label outside of chart */
}

.bar {
    height: 15%;
    border-radius: 4px;
    position: absolute;
}

.navy {
    background-color: darkgreen;
}

.wcs-n {
    background-color: lightseagreen;
}

.target {
    background-color: red;
}

.reserve {
    background-color: lightgreen;
}

.student {
    background-color: goldenrod;
}
